.cd_stake_table tr td {
	text-align: left;
}

.cd_stake_table {
	.cd_transaction_list_table_heading {
		text-align: left;
	}
	.cd_transaction_list_status {
		justify-content: left;
	}
}

.cd_empty_delegation_row {
	.cd_empty_delegation_section {
		margin: auto;
		text-align: center;
	}
}
