.cd_we_login-modal--backdrop {
	background-color: var(--component-background);
}
.cd_we_login-modal {
	backdrop-filter: blur(3px);

	.modal-title {
		text-align: center;
	}

	.modal-header {
		border: none;
		padding-bottom: 0;
	}
	.layout--body {
		flex-direction: column;
		display: flex;
	}
}
