.cd_we_confirm-modal {
    top: 15% !important;

    .modal-title {
        margin-top: 10px;
        text-align: center;
        color: var(--primary-color);
    }

    .modal-header {
        border: none !important;

        .btn-close {
            top: 10px;
            right: 10px;
            position: absolute;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .modal-footer {
        border: none !important;
        display: flex;
        justify-content: space-around;

        .btn {
            font-size: 14px;
            width: 40%;
        }
    }
}