.cd_we_swap_settings {

	&_label {
		color: #777E91;
		font-weight: 500;
	}

	&_slippage_group {
		margin-top: 16px;
		display: flex;
		gap: 5px;
	}
	
	&_slippage_item {
		background: #D7E3FF;
		border-radius: 20px;
		cursor: pointer;
		padding: 8px 12px;

		&_checked {
			background: #3772FF;
			color: #FFFFFF;
		}
	}

	&_slippage_input {
		margin-top: 10px;
	}

	&_transaction_deadline {
		margin-top: 16px;

		&_input {
			margin-top: 10px;
		}
	}
}
