.cd_we_about_us {
  &__logo-wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
      width: 100%;
      max-width: 200px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}