.cd_we_account {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	padding: 15px 0;
	.cd_we_account_info {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.cd_we_address_section {
		display: flex;
		align-items: center;
		.cd_we_account_address {
			width: 100px;
		}
	}
	.cd_we_account_balance {
		line-height: 40px;
		font-size: 24px;
		font-weight: 600;
		padding: 15px 0 0;
	}
}
