.cd_we_import_account {
	display: flex;
	flex-direction: column;
	padding: 16px;
	background-color: white;
	border-radius: 18px 18px 0 0;
	gap: 8px;
	height: calc(100vh - 64px);
	.cd_we_private_key {
		white-space: break-spaces;
		overflow-wrap: anywhere;
		user-select: none;

		&--blurred {
			filter: blur(4px);
		}

		&__blur {
			cursor: pointer;
			position: relative;
	
			&-overlay {
				position: fixed;
				// Center postion
				top: 35%;
				left: 55%;
				transform: translate(-50%, -50%);
				font-size: 14px;
				width: 260px;
				color: #777e91;
			}
		}
	}
	.actions {
		margin-top: 20px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;
		flex-grow: 1;
		.btn {
			width: 50%;
		}
	}
}
