.cd_we_staking_info {
	padding: 10px 15px;
	.cd_we_staking_info_title {
		color: var(--secondary-text-color);
	}
	.cd_we_grid {
		.cd_we_item {
			button {
				height: 28px;
				line-height: 14px;
			}
		}
	}
}
