.cd_we_staking_info {
	padding: 10px 15px;
	.cd_we_staking_info_header {
		display: flex;
		gap: 8px;
		.cd_we_staking_info_title {
			color: var(--secondary-text-color);
			cursor: pointer;
			&.active {
				color: #dc3545;
			}
		}
		.cd_we_btn_history {
			cursor: pointer;
			&.active {
				fill: #dc3545;
			}
		}
	}
	.cd_we_grid {
		height: calc(100vh - 400px) !important;
		padding: 0 !important;
		.cd_we_item {
			&:hover {
				cursor: pointer;
				color: var(--primary-light-color);
			}
			button {
				height: 28px;
				line-height: 14px;
				font-size: 1em;
			}

			&_left {
				max-width: 60%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.cd_we_grid_icon {
			width: 30px;
			height: 30px;
			padding: 3px 5px;
			background: var(--secondary-text-color-light);
		}
	}
}
