.cd_we_nft_details {
	.cd_we_nft_details_image {
		height: 200px;
		display: flex;
		padding: 20px;
		justify-content: center;
		align-items: center;
		img {
			max-height: 100%;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.cd_we_nft_content {
		margin: 15px;
		h5 {
			color: var(--secondary-text-color);
		}
		.cd_we_nft_content_header {
			margin-bottom: 10px;
			.cd_we_nft_contract {
				display: flex;
				align-items: center;
				.cd_we_nft_contract_address {
					max-width: 50%;
				}
			}
			.cd_we_input_label {
				padding-bottom: 10px;
			}
		}
		.cd_we_nft_attr {
			.cd_we_nft_attr_header {
				padding-bottom: 10px;
			}
			.cd_we_nft_attr_grid {
				max-height: 210px;
				overflow: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.cd_we_nft_attr_card {
					width: 48%;
					background-color: var(--component-background);
					border-radius: 16px;
					margin-bottom: 10px;
					padding: 10px;
					.cd_we_nft_attr_key {
						color: var(--secondary-text-color);
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
