.cd_we_grid {
	padding: 15px 10px;
	.cd_we_item {
		padding: 15px 5px;
		border-bottom: 1px solid var(--secondary-text-color-light);
		display: flex;
		justify-content: space-between;
		&.clickable {
			cursor: pointer;
		}
		.cd_we_item_left {
			display: flex;
			align-items: center;
			max-width: 150px;
			.cd_we_grid_icon {
				margin-right: 5px;
				display: flex;
				border-radius: 50%;
			}
			.cd_we_item_content {
				max-width: 100%;
			}
		}
		.cd_we_item_right {
			max-width: 150px;
			.cd_we_item_content {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}
		}
		.cd_we_item_value {
			&.secondary {
				color: var(--secondary-text-color);
			}
			&.primary {
				margin-bottom: 5px;
				font-weight: 500;
			}
		}
	}
}
