@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap";

// color varibable
$color1: #C0C3CC;
$color2: #ffffffe6;
$color3: #828CAE;
$color4: #252F47;
$color5: #FFFFFF;
$color6: #ffffffb3;
$color7: #53B9EA;
$color8: #50E3C2;
$color9: #50E2C2;
$color10: #E3507A;
$color11: #C0C3CB;
$color12: #3D476A;
$color13: #fff;
$color14: #CAD3F2;
$color15: #B1AFCD;
$color16: #70B2FF;
$color17: #000;
$color18: #28304b;
$color19: #3d476ab3;
$color20: #EFF0F2;
$color21: #3A4562;
$color22: #c4c4c44d;
$color23: #C4C4C4;
$color24: #c4c4c499;
$color25: #848eae26;
$color26: #828cae26;
$color27: #BA1358;
$color28: #96A0C2;
$color29: #00000035;
$color30: #F9A22A;
$color31: #345D9D;
$color32: #b5395c;
$color33: #E2507A;
$color34: #0EE6B6;
$color35: #3B445A;
$color36: #ECEEF3;
$gradian-color1: linear-gradient(180deg, #3D476A -100%, #252F47 100%);
$gradian-color2: linear-gradient(210.96deg, #2A314D 0.01%, #212840 42.05%, #20233D 104.81%);
$gradian-color3: linear-gradient(135deg, #70B2FF 0%, #70B2FF 19.24%, #53B9EA 68.64%, #53B9EA 81.77%, #53B9EA 100%);
$gradian-color4: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
$gradian-color5: linear-gradient(213.66deg, #16B4EB 4.85%, #23E73C 119.17%);
$gradian-color6: linear-gradient(135deg, #FFCB54 0%, #FFCB54 19.24%, #F7931A 68.64%, #F7931A 81.77%, #F7931A 100%);
$gradian-color7: linear-gradient(113.91deg, #FFCB54 0%, rgba(247, 147, 26, 0.0001) 82.9%);
$gradian-color8: linear-gradient(135deg, #309AFF 0%, #309AFF 19.24%, #345D9D 68.64%, #345D9D 81.77%, #345D9D 100%);
$gradian-color9: linear-gradient(113.91deg, #55ACFF 0%, rgba(52, 93, 157, 0.0001) 82.9%);
$gradian-color10: linear-gradient(135deg, #E3507A 0%, #E3507A 19.24%, #BC3DCB 68.64%, #BC3DCB 81.77%, #A330FF 100%);
$gradian-color11: linear-gradient(113.91deg, #E3507A 0%, rgba(52, 93, 157, 0.0001) 82.9%);
$gradian-color12: linear-gradient(113.91deg, #70B2FF 0%, rgba(83, 185, 234, 0.0001) 82.9%);
$gradian-color13: linear-gradient(180deg, #40FFD5 0%, #4CE4C3 100%);
$gradian-color14: linear-gradient(180deg, #FFFFFF -100%, #FFFFFF 100%);
$gradian-color15: linear-gradient(180deg, rgba(241, 245, 255, 0.38) 0%, rgba(230, 235, 249, 0.31) 57.44%, rgba(252, 253, 255, 0.57) 100%);
$gradian-color16: linear-gradient(210.96deg, #FFFFFF 0.01%, #FFFFFF 42.05%, #FFFFFF 104.81%);
$gradian-color17: linear-gradient(224.09deg, #EFF0F2 0%, #EFF0F2 98.47%);
$gradian-color18: linear-gradient(180deg, #F9FBFF 0%, #F7F9FD 57.44%, #FDFEFF 100%);

// font family varibable
$fontfamily: 'Montserrat', sans-serif;