.cd_we_connect_device {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background: var(--component-background);
	.cd_we_connect_account_logo {
		margin: 9vh 0;
		display: flex;
		flex-direction: column;
		svg {
			margin-bottom: 20px;
		}
		div {
			font-weight: 400;
			font-size: 18px;
		}
	}
	h1 {
		text-align: center;
	}
	button {
		margin-top: 50px;
		height: 64px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		margin-bottom: 15px;
		svg {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
	.cd_we_btn_load_more {
		justify-content: center;
		width: 100%;
		height: 54px;
	}
	.cd_we_grid {
		width: 100%;
		height: calc(100vh - 600px);
		overflow: auto;
		.cd_we_item {
			overflow-wrap: anywhere;
			.cd_we_item_left {
				max-width: 60%;
			}
		}
	}
}
