.cd_we_connect_account {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background: var(--component-background);
	.cd_we_connect_account_logo {
		margin: 12vh 0;
		display: flex;
		flex-direction: column;
		svg {
			margin-bottom: 20px;
		}
		div {
			font-weight: 400;
			font-size: 18px;
		}
	}
	button {
		height: 64px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 90%;
		margin-bottom: 15px;
		svg {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
}
