@import './theme-config.scss';
@import './nft.scss';
@import './stake/style.scss';

body {
	font-family: $fontfamily !important;
}
.cd_page_dark_mode {
	background: $gradian-color1;
	min-height: 100vh;
}
a {
	&:-webkit-any-link {
		&:focus-visible {
			outline: 0px !important;
		}
	}
}
ul {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none !important;
}
.cd_middle_truncated_text {
	width: 100%;
	display: inline-flex;
	flex-wrap: nowrap;

	.cd_middle_truncated_text-begin {
		flex: 0 1 content;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.cd_middle_truncated_text-end {
		flex: 1 0 content;
		white-space: nowrap;
	}
}

.modal {
	.modal-content {
		background-color: $color4;
		.modal-title {
			color: $color3;
		}
		.modal-body {
			color: $color3;
		}
		input {
			background-color: transparent;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			outline: 0;
			color: $color3;
		}
		.close {
			color: $color3;
		}
	}
}

.cd_tabs {
	border: 0;
	display: flex;
	padding-bottom: 20px;
	.cd_tab {
		padding-right: 20px;
		a {
			text-decoration: none;
			color: $color2;
			&.active {
				border-bottom: 2px solid $color7;
			}
			&:hover {
				border-bottom: 2px solid $color7;
			}
		}
	}
}

.cd_all_pages_content {
	position: relative;
	.cd_all_pages_inner_content {
		padding: 26px 20px 20px 270px;
		min-height: 100vh;
		transition: all 0.3s ease-in-out;
	}
	.cd_page_sidebar.cd_hide_sidebar {
		& ~ .cd_all_pages_inner_content {
			padding: 26px 20px 20px 110px;
		}
	}
	.cd_page_sidebar[title='login'] {
		display: none;
		& ~ .cd_all_pages_inner_content {
			padding: 0;
		}
	}
	.cd_page_sidebar[title=''] {
		display: none;
		& ~ .cd_all_pages_inner_content {
			padding: 38px;
			overflow-x: hidden;
		}
	}
	.custom-switch {
		padding-left: 24px;
		.custom-control-label {
			&::before {
				left: -24px;
			}
		}
	}
}
.cd_all_page_comman_content {
	padding: 32px;
	border: 1px solid $color21;
	border-radius: 4px;
}
.cd_bottom_content_heading {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $color1;
}
input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
input[type='number'] {
	-moz-appearance: textfield;
}
table {
	th {
		border: 0 !important;
	}
	td {
		border: 0 !important;
	}
}

.round_shap_light_img_two,
.round_shap_light_img_one,
.cd_light_theme_slide_img {
	display: none;
}
.cd_light_theme_active {
	.cd_welcome_slide_section {
		.cd_welcome_slide_content {
			.round_shap_light_img_one {
				position: absolute;
				top: 330px;
				right: -75px;
				z-index: 0;
				width: 150px;
				display: block;
			}
			.round_shap_light_img_two {
				position: absolute;
				top: -78px;
				left: -154px;
				width: 309px;
				z-index: 0;
				display: block;
			}
			.cd_welcome_slide_img {
				.cd_light_theme_slide_img {
					display: block;
				}
			}
		}
	}
}
.cd_login_section {
	padding: 165px 15px;
	.cd_login_content.container {
		max-width: 1240px;
	}
	.cd_login_content {
		border: 1px solid $color25;
		border-radius: 10px;
		padding: 25px 25px 94px;
		.cd_login_heading_text {
			text-align: center;
			border-bottom: 1px solid $color25;
			margin-bottom: 25px;
			.cd_login_heading {
				font-size: 17px;
				line-height: 21px;
				color: $color5;
				opacity: 0.7;
				margin-bottom: 14px;
			}
			.cd_login_peregraph {
				font-weight: bold;
				font-size: 12px;
				line-height: 15px;
				text-align: center;
				color: $color3;
				margin-bottom: 17px;
			}
		}
		.cd_login_row {
			margin: 0 -11px;
			.cd_login_col_3 {
				padding: 0 11px 22px;
				&:nth-last-child(4) {
					padding-bottom: 0;
				}
				&:nth-last-child(3) {
					padding-bottom: 0;
				}
				&:nth-last-child(2) {
					padding-bottom: 0;
				}
				&:nth-last-child(1) {
					padding-bottom: 0;
				}
			}
		}
		.cd_login_input_content {
			&::before {
				content: '';
				position: absolute;
				right: 56px;
				bottom: 14px;
				background: linear-gradient(49.24deg, rgba(83, 185, 234, 0.005) 16.29%, rgba(83, 185, 234, 0.5) 69.16%);
				filter: blur(18px);
				transform: matrix(0.88, 0.5, -0.47, 0.87, 0, 0);
				width: 23px;
				height: 23px;
			}
			border: 1px solid $color25;
			border-radius: 10px;
			padding: 17px 22px;
			.cd_login_input_text {
				font-weight: bold;
				font-size: 12px;
				line-height: 15px;
				color: $color3;
				margin-bottom: 15px;
			}
			.cd_login_input {
				background: transparent;
				border: 0;
				outline: 0;
				font-size: 17px;
				line-height: 21px;
				color: $color6;
				width: 100%;
				&:focus {
					&::placeholder {
						opacity: 0;
					}
				}
			}
		}
		.cd_login_btn {
			padding-top: 60px;
			a {
				background: $color3;
				border-radius: 10px;
				padding: 16px 28px;
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;
				text-align: center;
				color: $color4;
				max-width: 180px;
				display: block;
				text-decoration: none;
			}
		}
	}
}
.cd_all_page_heading_section {
	margin-bottom: 26px;
	display: flex;
	align-items: center;
	.cd_public_key_view {
		margin-left: auto;
	}
	.cd_all_page_notify_logout_btn {
		display: flex;
		align-items: center;
		margin-left: auto;
		min-width: 130px;
		.cd_public_key {
			position: relative;
			width: 100px;
			color: #ffffff;
			span {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			span:after {
				content: attr(data-filetype);
				position: absolute;
				left: 100%;
				top: 0;
			}
		}

		.cd_theme_switch {
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 12px;
			line-height: 15px;
			color: $color5;
			background: $gradian-color4;
			opacity: 0.8;
			box-shadow: 0px 4px 31px $color27;
			border-radius: 14px;
			border: 0;
			margin-right: 25px;
			svg {
				margin-right: 5px;
			}
			&::after {
				display: none;
			}
		}
		.show {
			> .btn-primary.cd_theme_switch {
				&:focus {
					box-shadow: 0px 4px 31px $color27;
				}
			}
		}
		.btn-primary {
			&:not(:disabled) {
				&:not(.disabled) {
					&:active {
						&:focus {
							box-shadow: 0px 4px 31px $color27;
						}
					}
				}
			}
		}
		.cd_all_page_logout_btn {
			font-weight: 600;
			font-size: 13px;
			line-height: 16px;
			color: $color2;
			text-decoration: none;
			margin-left: 20px;
		}
		.cd_heading_public_key {
			font-weight: 600;
			font-size: 13px;
			line-height: 16px;
			color: $color3;
			text-decoration: none;
			max-width: 100px;
			margin-left: 20px;
		}
		.dropdown-menu {
			background: $gradian-color2;
			box-shadow: 0px 48px 69px rgba(23, 18, 43, 0.845335);
			backdrop-filter: blur(20px);
			border-radius: 10px;
			max-width: 413px;
			min-width: 413px;
			padding: 0;
			border: 0;
			margin-top: 3px !important;
			z-index: 99999;
			.cd_all_page_notification_body {
				padding: 27px 0px 20px;
				.cd_all_page_notification_heading {
					font-weight: 600;
					font-size: 12px;
					line-height: 15px;
					text-transform: uppercase;
					color: $color1;
					padding: 0 25px;
				}
				.cd_all_page_notification_list {
					display: flex;
					align-items: flex-start;
					padding: 10px 25px;
					.cd_all_page_notification_list_more_btn {
						background: transparent;
						border: 0;
						border-radius: 0;
						padding: 0;
						display: none;
						svg {
							width: 20px;
						}
					}
					&:hover {
						.cd_all_page_notification_list_more_btn {
							display: block;
						}
						background: linear-gradient(
							224.09deg,
							rgba(61, 71, 106, 0.45) 0%,
							rgba(61, 71, 106, 0.49) 98.47%
						);
						.cd_all_page_notification_list_body {
							.cd_all_page_notification_list_heading {
								opacity: 1;
							}
						}
						div.cd_all_page_notification_user_img {
							opacity: 1;
						}
					}
					.show {
						> .btn-primary.cd_theme_switch {
							&:focus {
								box-shadow: none !important;
								outline: 0 !important;
							}
						}
					}
					.btn-primary {
						&:not(:disabled) {
							&:not(.disabled) {
								&:active {
									&:focus {
										box-shadow: none !important;
										outline: 0 !important;
									}
								}
							}
						}
					}
					.btn-primary.focus {
						box-shadow: none !important;
						outline: 0 !important;
					}
					.cd_all_page_notification_user_img {
						min-width: 38px;
						width: 38px;
						height: 38px;
						border-radius: 50px;
						margin-right: 15px;
					}
					div.cd_all_page_notification_user_img {
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: bold;
						font-size: 15px;
						line-height: 18px;
						color: $color5;
						opacity: 0.8;
					}
					div.cd_all_page_notification_user_img.cd_user_green_bg {
						background: $gradian-color5;
					}
					div.cd_all_page_notification_user_img.cd_user_pink_bg {
						background: $gradian-color4;
					}
					.cd_all_page_notification_list_body {
						.cd_all_page_notification_list_heading {
							font-weight: bold;
							font-size: 14px;
							line-height: 17px;
							color: $color1;
							opacity: 0.7;
							margin-bottom: 7px;
							span {
								font-size: 11px;
								line-height: 13px;
								color: $color3;
								padding-left: 9px;
								font-weight: 500;
							}
						}
						.cd_all_page_notification_list_peregraph {
							font-size: 12px;
							line-height: 15px;
							color: $color3;
							margin-bottom: 9px;
						}
						.cd_all_page_notification_list_price {
							p {
								font-size: 13px;
								line-height: 16px;
								color: $color8;
								margin-bottom: 0;
								margin-right: auto;
								span {
									font-size: 12px;
									line-height: 15px;
									color: $color5;
									opacity: 0.2;
									font-weight: bold;
									margin-left: 6px;
								}
							}
							svg {
								width: 38px;
								margin-right: 18px;
								g {
									&:last-child {
										display: none;
									}
								}
							}
							display: flex;
							align-items: center;
							margin-bottom: 10px;
							a {
								font-size: 12px;
								line-height: 15px;
								text-decoration-line: underline;
								color: $color7;
							}
						}
						.cd_all_page_notification_list_time {
							font-size: 11px;
							line-height: 13px;
							color: $color3;
						}
					}
				}
				.cd_all_page_notification_more_list_btn {
					text-align: center;
					padding-top: 24px;
					a {
						text-decoration: none;
						font-size: 12px;
						line-height: 14px;
						color: $color7;
					}
				}
			}
		}
	}
	.cd_all_page_heading {
		margin-right: 15px;
		h2 {
			font-weight: 600;
			font-size: 30px;
			line-height: 37px;
			color: $color5;
			opacity: 0.9;
			font-style: normal;
			margin-bottom: 6px;
		}
		p {
			font-size: 13px;
			line-height: 16px;
			color: $color3;
			margin: 0;
		}
	}
}
.btn-primary {
	&:focus {
		box-shadow: none !important;
		outline: 0 !important;
	}
	font-weight: 600 !important;
	font-size: 13px !important;
	line-height: 16px !important;
}
.btn-secondary {
	font-weight: 600 !important;
	font-size: 13px !important;
	line-height: 16px !important;
}

.cd_chart_box_heading_date {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	.cd_chart_box_heading {
		font-weight: 600;
		font-size: 24px;
		color: $color1;
		margin-right: auto;
		margin-bottom: 0;
		.cd_current_price {
			font-weight: 500;
			font-size: 20px;
			color: $color3;
		}
	}
}
.cd_dashboard_chart {
	tspan {
		fill: $color3;
		font-weight: 600;
		font-size: 12px;
		font-family: $fontfamily !important;
	}
	.apexcharts-toolbar {
		display: none;
	}
	.apexcharts-xaxis-title text {
		fill: $color3;
	}
}
.cd_all_page_comman_total_price {
	margin-top: 32px;
	.cd_all_page_total_price_heading {
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.4px;
		color: $color3;
		margin-bottom: 0;
	}
	.cd_all_page_total_price_text {
		font-weight: 600;
		font-size: 24px;
		line-height: 132%;
		color: $color1;
		margin-bottom: 8px;
		word-break: break-all;
		.cd_all_page_total_price_value {
			color: $color3;
			font-size: 20px;
			font-weight: 500;
		}
	}
	.cd_all_page_total_price_up_text {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.4px;
		color: $color9;
		svg {
			margin-right: 7px;
		}
	}
	.cd_add_token_down_price {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.4px;
		color: $color9;
		color: $color10;
		svg {
			margin-right: 7px;
		}
	}
}
.cd_all_page_comman_content {
	+ .cd_add_token_content {
		padding-top: 27px;
	}
}
.cd_add_token_row.row {
	margin-top: 21px;
	margin-left: -10px;
	margin-right: -10px;
}
.cd_add_token_row {
	.cd_currency_column_sub_row_full {
		display: flex;
		min-width: 100%;
		max-width: 100%;
		flex-wrap: wrap;
		padding-bottom: 15px;
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar-track {
			background: $color21;
		}
		&::-webkit-scrollbar-thumb {
			background: $color28;
			&:hover {
				background: $color28;
			}
		}
	}
	.no_token_message {
		padding-left: 10px;
		color: $color37;
		font-weight: 600;
	}
	.cd_currency_column_sub_row {
		display: flex;
		min-width: 80%;
		max-width: 80%;
		flex-wrap: wrap;
		padding-bottom: 15px;
		.cd_add_token_column {
			cursor: pointer;
			max-width: 20%;
			min-width: 20%;
		}
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar-track {
			background: $color21;
		}
		&::-webkit-scrollbar-thumb {
			background: $color28;
			&:hover {
				background: $color28;
			}
		}
	}
	.cd_add_token_column {
		cursor: pointer;
		max-width: 20%;
		min-width: 20%;
		flex-basis: auto;
		padding: 0 10px;
		.cd_add_token_inner_content {
			padding: 22px 16px;
			border: 1px solid $color21;
			border-radius: 10px;
			position: relative;
			.cd_add_token_icon_chart {
				display: flex;
				align-items: center;
				margin-bottom: 14px;
				svg {
					width: 70px;
					filter: drop-shadow(0px 5px 4px $color29);
					g {
						&:last-child {
							circle {
								&:first-child {
									display: none;
								}
								stroke: transparent !important;
								fill: transparent !important;
							}
						}
					}
				}
			}
			.cd_add_token_price {
				display: flex;
				align-items: flex-start;
				.cd_add_token_left_price {
					margin-right: auto;
					display: flex;
					flex-direction: column;
				}
				h3 {
					font-weight: bold;
					font-size: 12px;
					line-height: 15px;
					color: $color3;
				}
				p {
					font-size: 17px;
					line-height: 21px;
					color: $color11;
					margin-top: auto;
					margin-bottom: 0;
				}
				span {
					font-size: 11px;
					line-height: 13px;
					color: $color9;
					svg {
						margin-right: 7px;
					}
				}
				span.cd_add_token_down_price {
					color: $color10;
				}
			}
			.cd_add_token_right_price {
				text-align: right;
				margin-top: auto;
			}
		}
		.cd_add_token_btn_content {
			border: 1px dashed $color21;
			border-radius: 10px;
			padding: 15px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			font-size: 13px;
			line-height: 16px;
			color: $color3;
			text-decoration: none;
		}
	}
}
.cd_wallets_page {
	.cd_add_token_row {
		.cd_add_token_column {
			.cd_add_token_btn_content {
				height: calc(100% - 15px);
			}
		}
	}
	.cd_add_token_inner_content {
		&::before {
			content: '';
			position: absolute;
			width: 176px;
			height: 104px;
			border-radius: 5px;
			left: -12px;
			bottom: -6px;
			filter: blur(90.885px);
			z-index: -1;
		}
		&:hover {
			.cd_add_token_icon_chart {
				.cd_currency_icon {
					background: $color13;
					box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0744452);
				}
				svg {
					polyline {
						stroke: $color13 !important;
					}
				}
			}
			.cd_add_token_price {
				h3 {
					color: $color5;
					opacity: 0.5;
				}
				p {
					color: $color13;
				}
				span {
					color: $color13;
					svg {
						path {
							fill: $color13;
						}
					}
				}
				span.cd_add_token_down_price {
					color: $color13;
				}
			}
		}
	}
	.cd_add_token_inner_content.cd_add_litecoin_currency {
		&:hover {
			background: $gradian-color8;
			.cd_add_token_icon_chart {
				.cd_currency_icon {
					svg {
						path {
							fill: $color31;
						}
					}
				}
			}
		}
	}
	.cd_add_token_inner_content.cd_add_litecoin_currency.active {
		background: $gradian-color8;
		&::before {
			background: $gradian-color9;
		}
		.cd_add_token_icon_chart {
			.cd_currency_icon {
				svg {
					path {
						fill: $color31;
					}
				}
			}
		}
	}
	.cd_add_token_inner_content.active {
		.cd_add_token_icon_chart {
			.cd_currency_icon {
				background: $color13;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0744452);
			}
			svg {
				polyline {
					stroke: $color13 !important;
				}
			}
		}
		.cd_add_token_price {
			h3 {
				color: $color5;
				opacity: 0.5;
			}
			p {
				color: $color13;
			}
			span {
				color: $color13;
				svg {
					path {
						fill: $color13;
					}
				}
			}
			span.cd_add_token_down_price {
				color: $color13;
			}
		}
	}
	.tab-content {
		margin-top: 27px;
	}
}

.cd_add_token_text {
	margin-right: auto;
	padding-left: 15px;
	h3 {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: $color3;
		margin-bottom: 3px;
	}
	p {
		font-size: 10px;
		line-height: 12px;
		color: $color3;
		margin-bottom: 0;
	}
}

.cd_add_token_content {
	+ .cd_all_page_comman_content {
		margin-top: 27px;
	}
}
.apexcharts-legend-series {
	margin: 0 !important;
	padding: 6px 16px;
	display: flex !important;
	.apexcharts-legend-text {
		color: $color12 !important;
		font-weight: 600 !important;
		font-size: 12px !important;
		padding-left: 10px;
		font-family: $fontfamily !important;
	}
}

.cd_history_page {
	.cd_add_token_inner_content {
		&::before {
			content: '';
			position: absolute;
			width: 176px;
			height: 104px;
			border-radius: 5px;
			left: -12px;
			bottom: -6px;
			filter: blur(90.885px);
			z-index: -1;
		}
		&:hover {
			.cd_add_token_icon_chart {
				.cd_currency_icon {
					background: $color13;
					box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0744452);
				}
				svg {
					polyline {
						stroke: $color13 !important;
					}
				}
			}
			.cd_add_token_price {
				h3 {
					color: $color5;
					opacity: 0.5;
				}
				p {
					color: $color13;
				}
				span {
					color: $color13;
					svg {
						path {
							fill: $color13;
						}
					}
				}
				span.cd_add_token_down_price {
					color: $color13;
				}
			}
		}
	}
	.cd_add_token_inner_content.cd_add_litecoin_currency {
		&:hover {
			background: $gradian-color8;
			.cd_add_token_icon_chart {
				.cd_currency_icon {
					svg {
						path {
							fill: $color31;
						}
					}
				}
			}
		}
	}
	.cd_add_token_inner_content.cd_add_litecoin_currency.active {
		background: $gradian-color8;
		&::before {
			background: $gradian-color9;
		}
		.cd_add_token_icon_chart {
			.cd_currency_icon {
				svg {
					path {
						fill: $color31;
					}
				}
			}
		}
	}
	.cd_add_token_inner_content.active {
		.cd_add_token_icon_chart {
			.cd_currency_icon {
				background: $color13;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0744452);
			}
			svg {
				polyline {
					stroke: $color13 !important;
				}
			}
		}
		.cd_add_token_price {
			h3 {
				color: $color5;
				opacity: 0.5;
			}
			p {
				color: $color13;
			}
			span {
				color: $color13;
				svg {
					path {
						fill: $color13;
					}
				}
			}
			span.cd_add_token_down_price {
				color: $color13;
			}
		}
	}
	.cd_transaction_list_table {
		margin-top: 21px;
	}
}
.cd_all_currency_content {
	&::before {
		content: '';
		position: absolute;
		width: 176px;
		height: 104px;
		border-radius: 5px;
		left: -12px;
		bottom: -6px;
		filter: blur(90.885px);
		z-index: -1;
	}
	border: 1px solid $color21;
	border-radius: 10px;
	padding: 15px !important;
	height: 100%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	color: $color3;
	position: relative;
	&:hover {
		color: $color5;
		background: $gradian-color3;
	}
}
.cd_wallet_chart_bottom_content {
	margin-top: 32px;
	display: flex;
	align-items: center;
	.cd_all_page_comman_total_price {
		margin-top: 0;
		margin-right: auto;
	}
	.cd_wallet_chart_send_receive_btn {
		display: flex;
		align-items: center;
		margin-left: 10px;
		button {
			border: 0;
			background-color: $color3 !important;
			border-radius: 10px;
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			color: $color4 !important;
			padding: 17px;
			max-width: 180px;
			min-width: 180px;
			width: 100%;
			&:active {
				border: 0;
				background-color: $color3 !important;
				border-radius: 10px;
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;
				color: $color4 !important;
				padding: 17px;
				max-width: 180px;
				min-width: 180px;
				width: 100%;
			}
			&:hover {
				background-color: $color6 !important;
			}
			svg {
				margin-right: 11px;
			}
		}
		button.cd_wallet_chart_send_btn {
			margin-right: 20px;
		}
		button.cd_wallet_chart_receive_btn {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}
.cd_send_currency_btn_text {
	.cd_send_currency_btn {
		border: 0;
		background-color: $color3 !important;
		border-radius: 10px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: $color4 !important;
		padding: 17px;
		max-width: 180px;
		min-width: 180px;
		width: 100%;
		margin-right: 41px;
		&:active {
			border: 0;
			background-color: $color3 !important;
			border-radius: 10px;
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			color: $color4 !important;
			padding: 17px;
			max-width: 180px;
			min-width: 180px;
			width: 100%;
		}
		&:hover {
			background-color: $color6 !important;
		}
	}
	display: flex;
	align-items: center;
	row-gap: 10px;
	flex-wrap: wrap;
	.cd_send_currency_text {
		p {
			font-size: 14px;
			line-height: 20px;
			color: $color3;
			margin-bottom: 0;
			span {
				color: $color14;
				display: block;
				font-weight: 600;
			}
			.cd_send_currency_error_msg {
				display: block !important;
			}
		}
	}
}
.cd_send_receive_content {
	.cd_send_receive_inner_content {
		.cd_send_receive_heading.cd_receive_heading {
			img {
				transform: rotate(180deg);
			}
		}
		border: 1px solid $color21;
		border-radius: 10px;
		padding: 66px 66px 46px;
		height: 100%;
		.cd_send_receive_heading {
			font-weight: bold;
			font-size: 22px;
			line-height: 27px;
			color: $color7;
			display: flex;
			align-items: center;
			margin-bottom: 27px;
			img {
				margin-right: 11px;
			}
			.cd_send_receive_token_symbol {
				padding-left: 10px;
				color: $color14;
			}
		}
		.cd_send_balance_content {
			margin-bottom: 21px;
			.cd_send_balance_heading {
				font-size: 18px;
				line-height: 22px;
				color: $color3;
				margin-bottom: 21px;
				word-break: break-word;
			}
			.cd_send_balance_value {
				padding-left: 20px;
				font-weight: 600;
				font-size: 20px;
				line-height: 132%;
				color: $color1;
				margin-bottom: 8px;
				word-break: break-all;
			}
			.cd_send_balance_label {
				padding-left: 20px;
				color: $color1;
				margin-bottom: 8px;
				word-break: break-all;
			}
		}
	}
	.cd_send_receive_content_row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
	}

	.cd_send_receive_content_column {
		max-width: 50%;
		width: 100%;
		padding: 0 12px;
	}

	.cd_send_receive_content_full_column {
		max-width: 100%;
		width: 100%;
		padding: 0 12px;
	}
}
.cd_chart_component.active {
	.cd_all_page_comman_content {
		display: none;
	}
	.cd_send_receive_content {
		display: block;
	}
}
.cd_chart_component {
	padding-top: 10px;
	.cd_send_receive_content {
		display: none;
	}
}
.cd_send_qr_address {
	background: $color12;
	border-radius: 10px;
	align-items: center;
	padding: 30px;
	padding-left: 36px;
	input {
		margin-bottom: 0;
		margin-right: auto;
		font-size: 16px;
		line-height: 20px;
		color: $color14;
		background: transparent;
		border: 0;
		box-shadow: none;
		padding: 0;
		&:focus {
			margin-bottom: 0;
			margin-right: auto;
			font-size: 16px;
			line-height: 20px;
			color: $color14;
			background: transparent;
			border: 0;
			box-shadow: none;
			padding: 0;
		}
		&::placeholder {
			color: $color14;
		}
	}
}
.cd_send_currency_input_content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 10px;
	padding: 25px 0 16px 5px;
	border-bottom: 3px solid $color12;
	.cd_send_currency_input {
		margin-right: 12px;
		width: calc(100% - 201px);
		min-width: 160px;
		background: transparent;
		border: 0;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: $color14;
		outline: 0;
		height: auto;
		padding: 0;
		&:focus {
			background: transparent;
			box-shadow: none;
			color: $color14;
		}
	}
	.cd_send_currency_input_btns {
		min-width: 189px;
		button {
			padding: 9px 11px;
			font-size: 16px;
			line-height: 20px;
			border: 1px solid $color21;
			border-radius: 10px;
			color: $color3;
			background: transparent;
			width: 55px;
			margin-right: 12px;
			&:active {
				border: 1px solid $color21 !important;
				background: transparent !important;
				color: $color3 !important;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.cd_send_currency_text_type {
	margin-top: 22px;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	.cd_send_currency_text {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: $color14;
		margin-bottom: 0;
		margin-right: auto;
	}
	.cd_send_currency_type {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: $color3;
		margin-bottom: 0;
	}
}
.cd_receive_address_content {
	.cd_receive_address_heading {
		font-size: 18px;
		line-height: 22px;
		color: $color3;
		margin-bottom: 21px;
		word-break: break-word;
	}
	.cd_receive_copy_address_content {
		display: flex;
		align-items: center;
		button {
			background: $color12;
			border-radius: 10px;
			border: 0;
			padding: 5px;
			width: 40px;
			min-width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 20px;
			&:active {
				background: $color12 !important;
			}
		}
		p {
			font-size: 16px;
			line-height: 20px;
			color: $color14;
			margin-bottom: 0;
			word-break: break-all;
		}
	}
	.cd_receive_address_qr_code {
		margin-top: 32px;
		width: 226px;
		height: 226px;
		background: $color12;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.cd_light_theme_qrcode {
	display: none;
}
.cd_table_wrapper {
	overflow: auto;
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background: $color21;
	}
	&::-webkit-scrollbar-thumb {
		background: $color28;
		&:hover {
			background: $color28;
		}
	}
}

.table > :not(:first-child) {
	border: 0 !important;
}

.cd_transaction_list_table {
	margin-bottom: 0 !important;
	//min-width: 1200px;
	.cd_transaction_list_table_heading {
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color14;
		text-align: center;
	}
	tr {
		td {
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: $color3;
			.cd_middle_truncated_text {
				width: 100px;
			}
		}
	}
	.cd_transaction_pluse {
		color: $color8;
	}
	.cd_transaction_minas {
		color: $color10;
	}
	.cd_transaction_list_status {
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: '';
			width: 5px;
			height: 5px;
			background: $color3;
			border-radius: 10px;
			display: inline-block;
			margin-right: 5px;
		}
	}
	.cd_transaction_success {
		&::before {
			background: $color9;
		}
	}
	.cd_transaction_fail {
		&::before {
			background: $color33;
		}
	}
	.cd_transaction_pending {
		&::before {
			background: $color30;
		}
	}
	.cd_transaction_list_type {
		img {
			width: 22px;
			height: 22px;
			border-radius: 50px;
		}
	}
}
.cd_transaction_list_main_heading {
	display: flex;
	align-items: center;
	margin-bottom: 37px;
	margin-top: 27px;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $color15;
	a {
		margin-left: auto;
		font-size: 12px;
		line-height: 15px;
		color: $color16;
		text-transform: capitalize;
		font-weight: 400;
		&:hover {
			text-decoration: none;
			color: $color16;
		}
	}
	.cd_transaction_list_main_heading_action {
		padding-left: 20px;
		cursor: pointer;
		&:hover {
			color: $color16;
		}
	}
}
.cd_all_currency_content.active {
	color: $color5;
	background: $gradian-color3;
	&::before {
		background: $gradian-color12;
	}
}
.cd_SecureBackup_heading {
	h3 {
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color15;
		margin-bottom: 0;
	}
}
.cd_securebackup_row.row {
	margin: 0 -12px;
}
.cd_securebackup_col_3 {
	padding: 0 12px;
	margin-top: 25px;
}
.cd_securebackup_input_content {
	border: 1px solid $color26;
	border-radius: 10px;
	padding: 15px 20px;
	.cd_securebackup_input_text {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: $color3;
		margin-bottom: 13px;
	}
	.cd_securebackup_input {
		background: transparent;
		border: 0;
		font-size: 17px;
		line-height: 21px;
		color: $color5;
		opacity: 0.7;
		outline: 0;
		padding: 0;
		&::placeholder {
			color: $color5;
			opacity: 0.7;
		}
	}
}
.cd_securebackup_btn {
	margin-top: 60px;
	a {
		background: $color3;
		border-radius: 10px;
		min-width: 180px;
		max-width: 180px;
		display: block;
		padding: 18px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: $color4;
		text-align: center;
		&:hover {
			text-decoration: none;
			color: $color4;
		}
	}
}
.cd_error_text {
	color: $color37;
	font-size: 0.8em;
	font-weight: 600;
}

.cd_success_text {
	color: $color34;
}

.cd_setting_list {
	.cd_setting_list_items {
		border: 1px solid $color26;
		border-radius: 10px;
		padding: 21px;
		padding-right: 35px;
		display: flex;
		margin-bottom: 25px;
		text-decoration: none;
		&:last-child {
			margin-bottom: 0;
		}
		.cd_setting_items_heading_peregraph {
			margin-right: auto;
			h3 {
				font-size: 17px;
				line-height: 21px;
				color: $color5;
				opacity: 0.7;
				margin-bottom: 13px;
				margin-top: 13px;
			}
			h4 {
				font-size: 15px;
				line-height: 21px;
				color: $color5;
				opacity: 0.7;
				margin-bottom: 8px;
			}
			p {
				font-weight: bold;
				font-size: 12px;
				line-height: 15px;
				color: $color3;
				margin-bottom: 15px;
				span {
					font-weight: normal;
				}
			}
		}
		.cd_setting_items_right_text {
			display: flex;
			align-items: center;
			h3 {
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;
				color: $color3;
				margin-bottom: 0;
				margin-right: 18px;
			}
		}
	}
	a.cd_setting_list_items {
		align-items: center;
	}
}

.cd_restore_wallet_input_content {
	padding: 22px 22px 54px;
	border: 1px solid $color26;
	border-radius: 10px;
	.cd_securebackup_col_3 {
		margin-bottom: 25px;
		margin-top: 0;
		padding: 0 10px;
		&:nth-last-child(4) {
			margin-bottom: 0;
		}
		&:nth-last-child(3) {
			margin-bottom: 0;
		}
		&:nth-last-child(2) {
			margin-bottom: 0;
		}
		&:nth-last-child(1) {
			margin-bottom: 0;
		}
	}
}

.cd_history_page {
	.cd_add_token_row {
		&.nav {
			flex-wrap: nowrap;
			overflow-x: auto;
			padding-bottom: 15px;
			&::-webkit-scrollbar {
				width: 5px;
				height: 5px;
			}
			&::-webkit-scrollbar-track {
				background: $color21;
			}
			&::-webkit-scrollbar-thumb {
				background: $color28;
				&:hover {
					background: $color28;
				}
			}
		}
		.cd_add_token_column {
			margin-bottom: 0 !important;
		}
	}
}

.cd_key_list_table {
	width: auto !important;
	margin-bottom: 0 !important;
	min-width: 800px;
	.cd_key_list_table_heading {
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $color14;
		text-align: center;
	}
	tr {
		td {
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: $color3;
		}
	}
}

.cd_account_info_table {
	width: auto !important;
	margin-bottom: 0 !important;
	tr {
		td {
			font-size: 12px;
			line-height: 10px;
			color: $color3;
			min-width: 200px;
		}
	}
	.cd_account_info_table_action {
		padding-left: 10px;
		cursor: pointer;
		&:hover {
			color: $color16;
		}
	}
}

.cd_confirm_modal_content {
	.cd_confirm_modal_header {
		color: $color3;
		border-bottom: none !important;
	}
	.cd_confirm_modal_body {
		.cd_confirm_modal_row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-basis: auto;
			padding: 10px;
			.cd_confirm_modal_label {
				color: $color3;
			}
			.cd_confirm_modal_value {
				color: $color3;
				input {
					text-align: right;
				}
			}
			.cd_confirm_modal_value_success {
				color: $color34;
			}
		}
		.cd_confirm_modal_row_single {
			display: flex;
			justify-content: end;
			padding: 10px;
			.cd_confirm_modal_value {
				color: $color3;
			}
		}
	}
	.cd_confirm_modal_footer {
		border-top: none !important;
		justify-content: space-between !important;
		flex-basis: auto;
		.cd_confirm_modal_error {
			color: $color37;
			font-weight: 600;
		}
	}
}

.cd_key_manger_contract_confirm_modal {
	.cd_key_manger_contract_confirm_content {
		.cd_key_manager_contract_confirm_notice {
			font-size: 0.8em;
			color: $color37;
			font-weight: 600;
		}
	}
}

.cd_edit_modal_content {
	.cd_edit_modal_header {
		color: $color3;
	}
	.cd_edit_modal_body {
		.cd_edit_modal_row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-basis: auto;
			padding: 10px;
			.cd_edit_modal_label {
				color: $color3;
			}
			.cd_edit_modal_value {
				color: $color3;
			}
			.cd_edit_modal_value_long {
				width: 300px;
			}
			.cd_edit_modal_value_success {
				color: $color34;
			}
		}
		.cd_edit_modal_row_single {
			display: flex;
			justify-content: end;
			padding: 10px;
			.cd_edit_modal_value {
				color: $color3;
			}
		}
	}
	.cd_edit_modal_footer {
		justify-content: space-between !important;
		flex-basis: auto;
		.cd_edit_modal_error {
			color: $color37;
			font-weight: 600;
		}
		.cd_edit_modal_success {
			color: $color34;
		}
	}
}

.cd_add_token_modal_content {
	.cd_add_token_modal_header {
		color: $color3;
	}
	.cd_add_token_modal_body {
		.cd_add_token_modal_row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-basis: auto;
			padding: 10px;
			flex-wrap: wrap;
			.cd_add_token_modal_label {
				flex-grow: 1;
				color: $color3;
			}
			.cd_add_token_modal_value {
				flex-grow: 2;
				color: $color12;
				input {
					width: 100%;
				}
			}
		}
	}
	.cd_add_token_modal_footer {
		justify-content: space-between !important;
		flex-basis: auto;
		.cd_add_token_modal_error {
			color: $color37;
			font-weight: 600;
		}
	}
}

@media (max-width: 1350px) {
	.cd_add_token_row {
		.cd_add_token_column {
			max-width: 20%;
			min-width: 20%;
		}
		.cd_currency_column_sub_row {
			.cd_add_token_column {
				min-width: 200px;
			}
			min-width: 100%;
			max-width: 100%;
		}
	}
	.cd_wallets_page {
		.cd_add_token_row {
			.cd_add_token_column {
				.cd_add_token_btn_content {
					height: 100%;
				}
			}
			.cd_add_token_column.cd_add_token_btn_col {
				cursor: pointer;
				max-width: 100%;
				margin-top: 10px;
			}
		}
	}
}

.cd_btn_copy,
.cd_btn_explorer {
	margin-left: 5px;
	cursor: pointer;
}

@media (max-width: 1300px) {
	.cd_send_receive_content {
		.cd_send_receive_inner_content {
			padding: 45px 20px;
		}
	}
}
@media (max-width: 1150px) {
	.cd_add_token_row {
		.cd_add_token_column {
			max-width: 33.333333%;
			min-width: 33.333333%;
			margin-bottom: 30px;
			&:nth-last-child(1) {
				margin-bottom: 0px;
			}
		}
	}

	.cd_send_qr_address {
		padding: 18px;
	}
	.cd_wallets_page {
		.cd_add_token_row {
			.cd_add_token_column {
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 991px) {
	.cd_login_section {
		.cd_login_content {
			.cd_login_row {
				.cd_login_col_3 {
					&:nth-last-child(4) {
						padding-bottom: 22px;
					}
					&:nth-last-child(3) {
						padding-bottom: 22px;
					}
					&:nth-last-child(2) {
						padding-bottom: 0;
					}
					&:nth-last-child(1) {
						padding-bottom: 0;
					}
				}
			}
		}
		padding: 100px 15px;
	}
	.cd_welcome_slide_section {
		padding: 43px 0;
	}
	.cd_all_pages_content {
		.cd_all_pages_inner_content {
			padding: 26px 20px;
		}
		.cd_page_sidebar.cd_hide_sidebar {
			& ~ .cd_all_pages_inner_content {
				padding: 26px 20px;
			}
		}
	}
	.cd_add_token_row {
		.cd_add_token_column {
			max-width: 50%;
			min-width: 50%;
			&:nth-last-child(1) {
				margin-bottom: 0px;
			}
			&:nth-last-child(2) {
				margin-bottom: 0px;
			}
		}
	}
	.cd_all_page_heading_section {
		padding-left: 55px;
	}
	.cd_send_receive_content {
		.cd_send_receive_content_column {
			max-width: 100%;
		}
	}
	.cd_send_receive_content_row {
		row-gap: 24px;
	}
	.cd_wallets_page {
		.cd_add_token_row {
			.cd_add_token_column.cd_add_token_btn_col {
				cursor: pointer;
				margin-top: 0;
			}
		}
	}
}
@media (max-width: 767px) {
	.cd_login_section {
		.cd_login_content {
			.cd_login_row {
				.cd_login_col_3 {
					&:nth-last-child(2) {
						padding-bottom: 22px;
					}
					&:nth-last-child(1) {
						padding-bottom: 0;
					}
				}
			}
			padding: 25px;
		}
		padding: 50px 15px;
	}
	.cd_welcome_slide_section {
		.cd_welcome_slide_content {
			.cd_welcome_slide_indicator {
				padding: 25px 0 16px !important;
			}
			.cd_welcome_slide_heading {
				font-size: 22px;
			}
			.cd_welcome_slide_peregraph {
				margin-bottom: 20px;
				font-size: 11px;
			}
			.cd_welcome_slide_step_btns {
				padding: 12px 10px;
				font-size: 18px;
			}
		}
	}
	.cd_add_token_row {
		.cd_add_token_column {
			max-width: 100%;
			min-width: 100%;
			&:nth-last-child(2) {
				margin-bottom: 30px;
			}
			&:nth-last-child(1) {
				margin-bottom: 0px;
			}
		}
	}
	.cd_all_pages_content {
		.cd_all_pages_inner_content {
			padding: 38px 15px;
			padding: 38px 15px;
		}
		.cd_page_sidebar.cd_hide_sidebar {
			& ~ .cd_all_pages_inner_content {
				padding: 38px 15px;
			}
		}
	}
	.cd_all_page_comman_content {
		padding: 25px 20px;
	}

	.cd_wallet_chart_bottom_content {
		display: block;
		.cd_wallet_chart_send_receive_btn {
			margin-left: 0;
			margin-top: 20px;
			justify-content: center;
		}
	}
	.cd_wallets_page {
		.cd_add_token_row {
			.cd_add_token_column {
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 600px) {
	.cd_all_page_heading_section {
		display: block;
		margin-bottom: 20px;
		.cd_public_key_view {
			margin-top: 20px;
			margin-left: -55px;
		}
		.cd_all_page_notify_logout_btn {
			.cd_all_page_logout_btn {
				margin-left: auto;
			}
			.cd_heading_public_key {
				margin-left: auto;
			}
			margin-top: 20px;
			margin-left: -55px;
			.dropdown-menu {
				max-width: 290px;
				min-width: 290px;
				.cd_all_page_notification_body {
					.cd_all_page_notification_list {
						display: block;
						text-align: center;
						position: relative;
						.cd_all_page_notification_user_img {
							margin: 0 auto 10px;
						}
						.cd_all_page_notification_list_more_btn {
							position: absolute;
							top: 10px;
							right: 10px;
						}
						.cd_all_page_notification_list_body {
							.cd_all_page_notification_list_peregraph {
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
							}
						}
					}
				}
			}
		}
		.cd_all_page_heading {
			margin-right: 0;
		}
	}
	.cd_chart_box_heading_date {
		display: block;
		margin-bottom: 15px;
	}
	.cd_dashboard_datepicker {
		margin-top: 20px;
	}
	.cd_all_pages_content {
		.cd_page_sidebar[title=''] {
			& ~ .cd_all_pages_inner_content {
				padding: 35px 15px;
			}
		}
	}
	.cd_wallet_chart_bottom_content {
		.cd_wallet_chart_send_receive_btn {
			display: block;
			button {
				display: block;
				max-width: 100%;
			}
			button.cd_wallet_chart_send_btn {
				margin-bottom: 20px;
				margin-right: 0;
			}
		}
	}
	.cd_securebackup_page {
		.cd_securebackup_btn {
			a {
				max-width: 100%;
			}
		}
	}
	.cd_account_support_page {
		.cd_securebackup_btn {
			a {
				max-width: 100%;
			}
		}
	}
	.cd_setting_list {
		.cd_setting_list_items {
			padding: 20px 15px;
		}
	}
	.cd_welcome_slide_section {
		.cd_welcome_slide_content.container {
			padding: 0;
		}
	}
	.cd_account_info_table {
		width: auto !important;
		margin-bottom: 0 !important;
		tr {
			td {
				font-size: 12px;
				line-height: 10px;
				color: $color3;
				max-width: 150px !important;
				min-width: 150px !important;
				span {
					display: block;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			td.cd_account_table_action {
				max-width: 65px !important;
				min-width: 65px !important;
				display: inline-block;
			}
		}
		.cd_account_info_table_action {
			padding-left: 10px;
			cursor: pointer;
			&:hover {
				color: $color16;
			}
		}
	}
}
@media (max-width: 450px) {
	.cd_send_currency_btn_text {
		flex-direction: column;
		.cd_send_currency_btn {
			margin-right: 0;
		}
		.cd_send_currency_text {
			text-align: center;
		}
	}
}
