@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap';

// color varibable
$color1: #c0c3cc;
$color2: #ffffffe6;
$color3: #828cae;
$color4: #252f47;
$color5: #ffffff;
$color6: #ffffffb3;
$color7: #53b9ea;
$color8: #50e3c2;
$color9: #50e2c2;
$color10: #e3507a;
$color11: #c0c3cb;
$color12: #3d476a;
$color13: #fff;
$color14: #cad3f2;
$color15: #b1afcd;
$color16: #70b2ff;
$color17: #000;
$color18: #28304b;
$color19: #3d476ab3;
$color20: #eff0f2;
$color21: #3a4562;
$color22: #c4c4c44d;
$color23: #c4c4c4;
$color24: #c4c4c499;
$color25: #848eae26;
$color26: #828cae26;
$color27: #ba1358;
$color28: #96a0c2;
$color29: #00000035;
$color30: #f9a22a;
$color31: #345d9d;
$color32: #b5395c;
$color33: #e2507a;
$color34: #0ee6b6;
$color35: #3b445a;
$color36: #eceef3;
$color37: #dc3545;
$gradian-color1: linear-gradient(180deg, #3d476a -100%, #252f47 100%);
$gradian-color2: linear-gradient(210.96deg, #2a314d 0.01%, #212840 42.05%, #20233d 104.81%);
$gradian-color3: linear-gradient(135deg, #70b2ff 0%, #70b2ff 19.24%, #53b9ea 68.64%, #53b9ea 81.77%, #53b9ea 100%);
$gradian-color4: linear-gradient(136.67deg, #ff409a 8.34%, #c438ef 95.26%);
$gradian-color5: linear-gradient(213.66deg, #16b4eb 4.85%, #23e73c 119.17%);
$gradian-color6: linear-gradient(135deg, #ffcb54 0%, #ffcb54 19.24%, #f7931a 68.64%, #f7931a 81.77%, #f7931a 100%);
$gradian-color7: linear-gradient(113.91deg, #ffcb54 0%, rgba(247, 147, 26, 0.0001) 82.9%);
$gradian-color8: linear-gradient(135deg, #309aff 0%, #309aff 19.24%, #345d9d 68.64%, #345d9d 81.77%, #345d9d 100%);
$gradian-color9: linear-gradient(113.91deg, #55acff 0%, rgba(52, 93, 157, 0.0001) 82.9%);
$gradian-color10: linear-gradient(135deg, #e3507a 0%, #e3507a 19.24%, #bc3dcb 68.64%, #bc3dcb 81.77%, #a330ff 100%);
$gradian-color11: linear-gradient(113.91deg, #e3507a 0%, rgba(52, 93, 157, 0.0001) 82.9%);
$gradian-color12: linear-gradient(113.91deg, #70b2ff 0%, rgba(83, 185, 234, 0.0001) 82.9%);
$gradian-color13: linear-gradient(180deg, #40ffd5 0%, #4ce4c3 100%);
$gradian-color14: linear-gradient(180deg, #ffffff -100%, #ffffff 100%);
$gradian-color15: linear-gradient(
	180deg,
	rgba(241, 245, 255, 0.38) 0%,
	rgba(230, 235, 249, 0.31) 57.44%,
	rgba(252, 253, 255, 0.57) 100%
);
$gradian-color16: linear-gradient(210.96deg, #ffffff 0.01%, #ffffff 42.05%, #ffffff 104.81%);
$gradian-color17: linear-gradient(224.09deg, #eff0f2 0%, #eff0f2 98.47%);
$gradian-color18: linear-gradient(180deg, #f9fbff 0%, #f7f9fd 57.44%, #fdfeff 100%);

// font family varibable
$fontfamily: 'Montserrat', sans-serif;
