.cd_we_swap {
	background: var(--component-background);
	padding: 16px;
	overflow-y: hidden;
	border-radius: 26px 26px 0 0;
	.cd_we_swap_to {
		margin-top: 8px;
	}

	&_header {
		display: flex;
		justify-content: flex-end;
	}
	
	&_liquidity {
		cursor: pointer;
		&:hover {
			color: var(--primary-light-color);
		}
	}

	.cd_we_swap_reverse_wrapper {
		margin-top: 12px;
		display: flex;
		justify-content: center;
		.cd_we_swap_reverse {
			cursor: pointer;
			width: 34px;
			height: 34px;
			padding: 7px;
			border-radius: 50%;
			background-color: var(--primary-light-color);
		}
	}

	.cd_we_swap_convert_rate {
		margin-top: 10px;
	}

	.cd_we_swap_confirm_button_wrapper {
		margin-top: 16px;

		button {
			width: 100%;
		}
	}
}
