.cd_we_sign_message_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background: var(--component-background);

	.cd_we_sign_message_title {
		text-align: center;
	}

	.cd_we_sign_message {
		padding: 40px 30px;
		width: 100%;
		button {
			display: flex;
			justify-content: center;
			height: 64px;
			width: 100%;
			margin-bottom: 15px;
		}

		.field {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;

			.long_text {
				width: 150px;
			}
		}

		.divider {
			padding: 30px 0;
		}
	}

	.cd_we_sign_message_buttons {
		margin-top: 40px;
		width: 300px;
		button {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-bottom: 15px;
		}
	}
}
