.cd_all_pages_content {
	.cd_web_extension_content {
		height: calc(100vh - 63px);
		.cd_we_single_section {
			background: var(--component-background);
			padding: 20px 10px 0;
			height: 100%;
			border-radius: 40px 40px 0 0;
		}
	}
}
