.cd_we_dapp_switch_account {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	background: var(--component-background);
	padding-top: 10px;

	&_header {
		text-align: center;
	}

	&_body {
		flex: 1;
		margin-top: 20px;
	}

	&_list {
		padding: 4px 10px 4px 4px;
		max-height: 400px;
		display: flex;
		flex-direction: column;
		gap: 8px;
		overflow-y: hidden;
		scrollbar-gutter: stable;

		&:hover {
			overflow-y: scroll;
		}
	}

	&_button {
		font-size: 12px !important;
		margin-left: 20px;
	}

	&_site {
		&--text {
			text-align: center;
			font-weight: 700;
		}
	}

	&_info {
		display: flex;
		&--public_key {
			max-width: 120px;
		}
	}

	&_select {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		&--item {
			margin-left: 8px;

			.cd_we_account-item--public-key {
				max-width: 120px;
			}
		}
	}

	&_buttons {
		margin-top: 24px;
		width: 300px;
		button {
			display: flex;
			justify-content: center;
			height: 40px;
			width: 100%;
			margin-bottom: 15px;
			align-items: center;
		}
	}


}
