.cd_we_deploy_details {
	.cd_we_stake_validator_address {
		overflow-wrap: anywhere;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	button {
		margin-top: 30px;
		width: 100%;
	}
	.cd_we_confirm_row {
		margin-bottom: 10px;
	}

	.cd_we_deploy_button {
		text-transform: capitalize;
	}
	.cd_we_staking_note {
		margin-top: 24px;
		font-size: 12px;
		color: #777e91;
	}
}
