.cd_page_bottom_bar_nav {
	top: auto;
	border: none;
	bottom: 0;
	height: 64px;
	background: #252f47;
	margin-bottom: 0;
	position: fixed;
	display: flex;
	z-index: 99999;
	width: 100%;
	.cd_page_bottom_bar_item_wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-left: 16px;
		padding-right: 16px;
		align-items: center;
	}
	.cd_page_bottom_bar_items {
		padding-left: 16px;
		padding-right: 16px;
		.active {
			svg {
				rect {
					fill: $color7;
				}
				path {
					fill: $color7;
					stroke: $color7;
				}
			}
		}
	}
}
