#root {
	width: 357px;
	height: 600px;
}

.cd_all_pages_content {
	color: white;
	padding-bottom: 65px;
}

.cd_we_dropdown {
	div {
		background-color: transparent;
		color: #828cae;
	}
	div[id$='-listbox'] {
		background-color: #252f47;
	}
}

input {
	background-color: transparent !important;
	color: #828cae !important;
}

.success {
	color: #50e2c2;
}
.fail {
	color: #e2507a;
}
.pending {
	color: #f9a22a;
}
