#root {
	width: 357px;
	height: 600px;
}

.cd_all_pages_content {
	color: white;
	padding-bottom: 65px;
}

.cd_we_dropdown {
	div {
		background-color: transparent;
		color: #828cae;
	}
	div[id$='-listbox'] {
		background-color: #252f47;
	}
}

input {
	background-color: transparent !important;
	color: #828cae !important;
}

.success {
	color: #50e2c2;
}
.fail {
	color: #e2507a;
}
.pending {
	color: #f9a22a;
}

.cd_error_text {
	color: #e2507a;
	font-size: 0.8em;
	font-weight: 600;
}

.cd_we_confirm {
	.cd_we_confirm_row {
		padding-bottom: 15px;
		:first-child {
			color: #828cae;
		}
	}
	.cd_we_confirm_buttons {
		display: flex;
		justify-content: space-around;
		margin-top: 20px;
		button {
			width: 50%;
			margin: 5px;
		}
	}
}
