.cd_we {
  &_create-keyphrase {
    &--box {
      border-radius: 16px;
      border: 1px solid var(--secondary-text-color-light);
      display: flex;
      flex-flow: row wrap;
      padding: 16px;
    }

    &--column {
      flex: 0 0 auto;
      width: 50%;
      list-style: none;
      padding-left: 0;

      &-full {
        width: 100%;

        &.is-label-only {
          margin: 10px 0 0;

          .form-label {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  &_keyphrase {
    &--word {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      font-size: 16px;

      .counter {
        color: var(--secondary-text-color);
        display: inline-block;
        margin-right: 4px;
        width: 20px;
      }

      .value {
        color: var(--primary-text-color-dark);
        text-transform: capitalize;
      }
    }
  }

  &_btn-next {
    width: 100%;
  }
}