.cd_we {
	&_create-keyphrase {
		&--box {
			border-radius: 16px;
			border: 1px solid var(--secondary-text-color-light);
			display: flex;
			flex-flow: row nowrap;
			padding: 16px;
		}

		&--column {
			display: flex;
			flex-direction: column;
			flex: 0 0 auto;
			height: 280px;
			justify-content: space-between;
			list-style: none;
			padding-left: 0;
			width: 50%;
		}

		&--note {
			margin-top: 10px;
		}

		&--actions {
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
		}
		&__btn {
			width: 48%;
		}
	}

	&_keyphrase {
		&--word {
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
			font-size: 16px;

			.counter {
				color: var(--secondary-text-color);
				display: inline-block;
				margin-right: 4px;
				width: 20px;
			}

			.value {
				color: var(--primary-text-color-dark);
			}
		}
	}

	&_btn-next {
		width: 100%;
	}
}
